/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-image: url('https://cdn.pixabay.com/photo/2018/01/31/05/43/web-3120321_1280.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    height: 100%;
  }

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-bottom: 10px;
}

.error-message {
    color: #ff0000;
}
